.image img {
    height: 72px;
}

.preview {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: 8.5in;
    height: 11in;
}

.prev-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 22px;
}

.prev-item span {
    margin-right: 6px;
}

.prev-value {
    border-bottom: 1px solid gray;
    min-width: 100px;
    max-width: 100%;
    height: 17px;
}

.prev-value a {
    text-decoration: none !important;
    color: black;
}

.prev-check {
    margin: 1px 10px;
}

.number {
    text-align: right;
}

.last-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.image {
    text-align: center;
}

.old {
    margin-top: 300px;
}

.web {
    line-height: 1.375rem;
}

/* New */
.grid {
    display: -ms-grid;
    display: grid;
    gap: 2rem;
}

.grid-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.owned {
    -ms-grid-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
}

.contact {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 20px 20px 0px 20px;
}

.contact .phone {
    border-bottom: 2px solid black;
}

.contact .contact-phone {
    font-weight: bold;
}

.bb-2 {
    border-bottom: 2px solid black;
}

.text-bold {
    font-weight: bold;
}

/* Customer info table */

.customer-info {
    border: 1px solid black;
    border-radius: 8px;
}

.customer-info table {
    width: 100%;
}

.customer-info thead td {
    text-align: center;
    font-size: 1.25rem;
    background-color: lightgray;
    border-radius: 8px 8px 0 0;
}

.customer-info tbody td {
    padding: 10px;
    line-height: 1rem;
}

.customer-info tbody .prev-value {
    width: 100%;
}

/* Sales Rep */

.sales-rep {
    margin: 10px 10%;
    line-height: 1rem;
}

.sales-rep table {
    width: 100%;
}

.sales-rep .prev-value {
    width: 90%;
}

/* Job Description */

.job-description {
    font-size: 0.8rem;
}

/* Estimate */

.estimate {
    padding: 20px;
}

.estimate-top {
    margin-top: 4px;
    line-height: 1rem;
}

.estimate-items {
    line-height: 1rem;
    width: calc(100% - 16px);
    margin: -12px 8px 8px 12px;
}

.estimate-items td {
    padding-bottom: 2px;
    font-size: 0.75rem;
}

.estimate-items span {
    font-size: 0.875rem;
}

.estimate-item-title {
    font-weight: bold;
    font-size: 1rem;
}

.estimate-item-subtitle {
    font-size: 1rem;
}

.estimate-subsection-top td {
    padding-top: 2px;
}

.estimate-subsection-bot {
    border-bottom: 1px solid lightgray;
}

/* Multi Service */

.multi-service {
    line-height: 0.875rem;
}

.multi-service-title {
    text-decoration: underline;
    font-weight: bold;
}

.price-wrapper {
    width: 100px;
    min-width: 100px;
}

.price {
    border-bottom: 1px solid gray;
    width: 100px;
    height: 22px;
}

.price.text-bold {
    border-bottom: 2px solid gray;
}

.estimate .form-check {
    margin-left: 0 !important;
    pointer-events: none;
}

.sub-text {
    font-size: 0.75rem;
    position: relative;
    top: -10px;
}

.extra {
    margin-left: -1.5rem;
}

.notes p {
    font-size: 0.75rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 0.9rem;
}

/* Webkit flex fix */

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.flex-fill {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}