html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-check-input {
    margin-left: 10px;
    margin-right: 10px;
}

.form-group {
    margin-top: 6px;
}

.group {
    margin: 25px 0px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.group-label {
    font-weight: bold;
    position: relative;
    top: -25px;
    background-color: white;
    padding: 0px 10px;
}

.form-check label {
    display: block;
}

.form-check {
    margin-left: 20px;
    margin-bottom: 10px;
}

.sub {
    margin-left: 10px;
}

.sub-label {
    font-weight: 500;
}

.sub .form-group {
    margin-left: 20px;
}

.row-label {
    margin-left: 20px;
    margin-bottom: 0px;
}

.inline-check {
    margin: 10px 0px !important;
}

.check-row {
    display: flex;
}

.buttons {
    display: flex;
    justify-content: end;
}

.buttons * {
    margin: 0px 6px;
}

.input-group {
    flex-wrap: nowrap;
}

.estimate .text-danger {
    margin-left: 20px;
}

.estimate .text-danger::after {
    content: "\a";
    white-space: pre;
}

@media only screen and (max-width: 500px) {
    .estimate .inline-check {
        margin-left: 30px !important;
    }

    .check-row {
        display: block;
        margin-bottom: 20px;
    }
}

.form-with-extra {
    display: flex;
    margin-bottom: 6px;
}

.form-control {
    max-height: 38px;
}

.form-check-label {
    display: flex !important;
    margin-right: 20px;
    min-width: 100px;
}

textarea {
    max-height: none !important;
}

/* Text Sizes */

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-xl {
    font-size: 2rem;
}

/* Text */

.font-weight-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-red {
    color: red;
}

.mr-3 {
    margin-right: 3rem;
}

.ml-0 {
    margin-left: 0;
}

/* Forms */

.form-floating {
    margin: 10px 0;
}

.disabled {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

/* Login */

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login {
    max-width: 100%;
    width: 500px;
}

.login h1 {
    text-align: center;
}

.login div {
    margin-bottom: 10px;
}

.login .login-options {
    margin-top: 20px;
    text-align: center;
    line-height: 1rem;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.indent {
    margin-left: 1rem;
}

/* Modal */

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.modal-body {
    max-width: 90vw;
    overflow: auto;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

/* Tables */

.table-wrapper {
    overflow-x: auto;
}