@model KlearviewQuotes.Models.Quote

<style>
    .pdf-iframe {
        width: 80vw;
        height: calc((80vw * 1.3) + 50px);
    }
</style>

<div class="modal fade" id="previewQuote">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quote Preview</h5>
                <button type="button" class="close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <partial name="_PreviewPartial" />
                @*<iframe class="pdf-iframe" src="https://www.orimi.com/pdf-test.pdf"></iframe>*@
            </div>

            <div class="modal-footer">
                <a asp-action="Print" asp-route-id="@Model.Id" target="_blank" class="btn btn-info">Print</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>