@model KlearviewQuotes.Models.Quote

<style>

    .container-lg {
        width: max-content;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .preview {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 7.5in !important;
        height: 10in !important;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

    body {
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 7.7in !important;
        height: 10.2in !important;
    }

</style>

<div class="preview-wrapper">
    <partial name="_PreviewPartial" />
</div>

@section Scripts {
    <script>
        
        $(document).ready(function() {
            window.print();

            window.onafterprint = () => {
                setTimeout(function(){ 
                    //window.close();
                }, 1000)
            }
        })

    </script>
}