@model KlearviewQuotes.Models.Quote
@{
    ViewData["Title"] = "Residential";
}

<style>
    .preview-wrapper {
        display: flex;
        justify-content: center;
    }
</style>

<div class="preview-wrapper">
    <partial name="_PreviewPartial" />
</div>