

<ul class="navbar-nav">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello @User.Identity?.Name</span>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    } 
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>